{% extends 'base.html' %}
{% block title %}Events manager{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/event_manage/">嘉宾管理系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/event_manage/">发布会</a></li>
                    <li class="active"><a href='/guest_manage/'>嘉宾</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ username }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    {#嘉宾查询#}
    <div class="container" role="main">
        <div class="page-header" style="padding-top: 20px">
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form" method="get" action="{% url 'guest_serach_name' %}">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="嘉宾名称" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                </form>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary" style=" padding-top: 8px"
                            onclick="window.location.href='/add_guest/'">添加
                    </button>
                </div>
            </div>

        </div>


        {#嘉宾列表#}
        <div class="row" style="padding-top: 10px;font-size: 20px">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>名称</th>
                        <th>手机</th>
                        <th>Email</th>
                        <th>签到</th>
                        <th>发布会</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for guest in guests %}
                        <tr>
                            <td>{{ guest.id }}</td>
                            <td>{{ guest.realname }}</td>
                            <td>{{ guest.phone }}</td>
                            <td>{{ guest.email }}</td>
                            <td>{{ guest.sign }}</td>
                            <td>{{ guest.event }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan=6">
                                <br>
                                <p>{{ msg }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 列表分页器 -->
        <div class="pagination">
             <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                {% endif %}

                 <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                 {% if contacts.has_next %}
                     <a href="?page={{ contacts.next_page_number }}">next</a>
                 {% endif %}
             </span>
        </div>
    </div>

{% endblock %}